##############################################
#
# fwcli.rc - Bash resoruce file to facilitate iptables auto-complete interface
#
##############################################

BASEDIR="$HOME/.fwcli"
[[ ! -d $BASEDIR ]] && /usr/bin/mkdir $BASEDIR
cd $BASEDIR

PATH=""
HISTFILE="~/.fwcli_history"
HISTTIMEFORMAT="%m/%d/%Y %H:%M:%S "

PS1="iptables > "

alias cmd_not_found='echo "Command not found"'

alias cd='cmd_not_found'
alias pwd='cmd_not_found'

hash -p /usr/bin/mv mv
hash -p /usr/bin/pidof pidof
hash -p /usr/bin/rm rm
hash -p /usr/bin/ls listdir
hash -p /usr/bin/sed sed
hash -p /usr/bin/gawk awk
hash -p /usr/bin/cat cat
hash -p /usr/bin/wc wc
hash -p /usr/bin/clear clear
hash -p /usr/sbin/iptables iptables
hash -p /usr/sbin/iptables-save iptables-save
hash -p /usr/bin/iptables-xml iptables-xml
hash -p /usr/sbin/ifconfig ifconfig
hash -p /usr/bin/netstat netstat
hash -p /usr/bin/netcat netcat
hash -p /usr/bin/ping ping
hash -p /usr/bin/tcpdump tcpdump
hash -p /usr/bin/chmod chmod
hash -p /usr/bin/seq seq
hash -p /usr/bin/bc bc
hash -p /usr/bin/rev rev
hash -p /usr/bin/traceroute traceroute
hash -p /usr/bin/dig dig
hash -p /usr/sbin/atftpd atftpd

alias help="_iptcli_help"

_iptcli_help() {
	echo "Available tables:"
	echo "   nat"
	echo "   filter"
	echo "   mangle"
	echo "   raw"
	echo "   security"
	echo ""
	echo "Syntax:"
	echo "    <action> [<chain>] [<option>] [<format>]"
	echo ""
	echo "   <action> = append|check|delete|insert|replace|list|flush|zero|newchain|delchain|dump*"
	echo "   <option> = interface|protocol|source|destination|match|destport|jump"
	echo "   <format> = raw|xml (used for \"dump\" only"
	echo ""
	echo "Other commands:"
	echo "   iface < list [mac | ipv4 | ipv6] | [up | down  detail ] [interface] >"
	echo ""
	echo "   connection < list [tcp | tcp6 | udp | udp6 | multicast] | test destaddr [ip-addr] destport [port] timeout [number] >"
	echo ""
	echo "   traffic capture [ list | interface <ifname> file <filename> ]"
	echo ""
	echo "   trace hops <hop-count> addr <hostname/IP>"
	echo ""
	echo "   lookup host <hostname> type <DNS-record-type>"
	echo ""
	echo "   file [ list | delete <filename> | tftp ]"
	echo ""
	echo "   calc <cidr-notation>"
	echo "   ping <address>"
	echo ""
	echo "   grep <expression>"
	echo "   column <number>"
	echo "   count <expression>"
	echo ""
}

nat() {
	_iptcli_backend nat $@
}

filter() {
	_iptcli_backend filter $@
}

mangle() {
	_iptcli_backend mangle $@
}

raw() {
	_iptcli_backend raw $@
}

security() {
	_iptcli_backend security $@
}

_iptcli_backend() {
	if [ -n "$1" ]; then
		if [ "$2" == "dump" ]; then
			if [ -z "$3" ]; then
				iptables-save -t $1 | grep '^-' | sed 's/-A /append /;
					s/ -I / insert /;
					s/ -i / ifin /;
					s/ -o / ifout /;
					s/ -p / protocol /;
					s/ -s / source /;
					s/ -d / destination /;
					s/ -m comment --comment / comment /;
					s/ -m / match /;
					s/ --dport / destport /;
					s/ -j / jump /;
					s/ -n / noresolve /'
			elif [ "$3" == "xml" ]; then
				iptables-save -t $1 | iptables-xml
			elif [ "$3" == "raw" ]; then
				iptables-save -t $1
			else
				echo "Invalid option ($2)"
			fi
		else
			iptables $(sed '
				s/^/-t /;
				s/ comment / -m comment --comment /;
				s/ append / -A /;
				s/ check / -C /;
				s/ delete / -D /;
				s/ insert / -I /;
				s/ replace / -R /;
				s/ list[ ]*/ -L /;
				s/ noresolve[ ]*/ -n /;
				s/ flush[ ]*/ -F /;
				s/ zero[ ]*/ -Z /;
				s/ newchain / -N /;
				s/ delchain / -X /;
				s/ ifin / -i /;
				s/ ifout / -o /;
				s/ protocol / -p /;
				s/ source / -s /;
				s/ destination / -d /;
				s/ match / -m /;
				s/ destport / --dport /;
				s/ jump / -j / 
			' <<< "$@")
		fi
	else
		echo "usage:  $1 <action> [<chain>] [<option>] [<format>]"
		echo ""
		echo "  <action> = append|check|delete|insert|replace|list|flush|zero|newchain|delchain|dump*"
		echo "  <option> = interface|protocol|source|destination|match|destport|jump"
		echo "  <format> = raw|xml (used for \"dump\" only"
	fi
}

_in_str() {
	SRCH="$(cat -)"
	RESULT=1
	for item in $@; do
		[[ "$item" == "$SRCH" ]]
		if [ $? -eq 0 ]; then
			RESULT=0
			break
		fi
	done
	
	return $RESULT
}

_iptcli_complete() {
	ACTIONS="append check delete insert replace list flush zero newchain delchain dump"
	CHAINS="PREROUTING INPUT FORWARD OUTPUT POSTROUTING"
	OPTIONS="ifin ifout protocol source destination match destport jump comment"
	
	LASTCMD="${COMP_WORDS[$COMP_CWORD-1]}"
	LASTCMD2="${COMP_WORDS[$COMP_CWORD-2]}"
	
	_in_str $OPTIONS <<< "$LASTCMD2"
	if [ $? -eq 0 ]; then
		COMPREPLY=( $(compgen -W "$OPTIONS" -- "${COMP_WORDS[$COMP_CWORD]}") )
		return 0
	else
		_in_str $OPTIONS <<< "$LASTCMD"
		if [ $? -eq 0 ]; then
			if [ "$LASTCMD" == "protocol" ]; then
				COMPREPLY=( $(compgen -W "tcp udp" -- "${COMP_WORDS[$COMP_CWORD]}") )
				return 0
			elif [ "$LASTCMD" == "ifin" ] || [ "$LASTCMD" == "ifout" ]; then
				IFLIST="$(ifconfig | awk 'BEGIN { FS=":" } /^[^ \t]+:.*$/ { if ($1 != "lo") { print $1 } }')"
				COMPREPLY=( $(compgen -W "$IFLIST" -- "${COMP_WORDS[$COMP_CWORD]}") )
				return 0
			elif [ "$LASTCMD" == "jump" ]; then
				COMPREPLY=( $(compgen -W "ACCEPT DROP REJECT RETURN" -- "${COMP_WORDS[$COMP_CWORD]}") )
				return 0
			else
				return 0
			fi
		else
			_in_str $CHAINS <<< "$LASTCMD"
			if [ $? -eq 0 ]; then
				COMPREPLY=( $(compgen -W "$OPTIONS" -- "${COMP_WORDS[$COMP_CWORD]}") )
				return 0
			else
				_in_str $ACTIONS <<< "$LASTCMD"
				if [ $? -eq 0 ]; then
					if [ "$LASTCMD" == "list" ]; then
						COMPREPLY=( $(compgen -W "noresolve" -- "${COMP_WORDS[$COMP_CWORD]}") )
						return 0
					elif [ "$LASTCMD" == "dump" ]; then
						COMPREPLY=( $(compgen -W "raw xml" -- "${COMP_WORDS[$COMP_CWORD]}") )
						return 0
					elif [ "$LASTCMD" == "flush" ] || [ "$LASTCMD" == "zero" ] || [ "$LASTCMD" == "newchain" ] || [ "$LASTCMD" == "delchain" ]; then
						return 0
					else 
						COMPREPLY=( $(compgen -W "$CHAINS" -- "${COMP_WORDS[$COMP_CWORD]}") )
						return 0
					fi
				else
					COMPREPLY=( $(compgen -W "$ACTIONS" -- "${COMP_WORDS[$COMP_CWORD]}") )
					return 0
				fi
			fi
		fi
	fi
}

_get_ifip4() {
	ifconfig $1 | awk '
		BEGIN { ip="" } 
		/inet[ \t]+/ { 
			ip = gensub(/^.*inet[ \t]+([0-9\.]+)[ \t]+.*$/,"\\1","g",$0);
		} 
		END { printf("%s",ip) }'
}

_get_ifmask4() {
	ifconfig $1 | awk '
		BEGIN { ip="" } 
		/netmask[ \t]+/ {
			mask = gensub(/^.*netmask[ \t]+([0-9\.]+)[ \t]+.*$/,"\\1","g",$0);
		} 
		END { printf("%s",mask) }'
}

_get_ifipv6() {
	ifconfig $1 | awk '
		BEGIN { ip="" } 
		/inet6[ \t]+/ { 
			ip = gensub(/^.*inet6[ \t]+([0-9a-f:]+)[ \t]+.*$/,"\\1","g",$0);
		} 
		END { printf("%s",ip) }'
}

_get_ifprefixv6() {
	ifconfig $1 | awk '
		BEGIN { ip="" } 
		/prefixlen[ \t]+/ {
			mask = gensub(/^.*prefixlen[ \t]+([0-9\.]+)[ \t]+.*$/,"\\1","g",$0);
		} 
		END { printf("%s",mask) }'
}

_if2cidr() {
	IP="$(_get_ifip4 $1)"
	MASK="$(_get_ifmask4 $1)"
	awk -v ip="$IP" '
		function d2b(d, b) {
			while(d) {
				b=d%2b;
				d=int(d/2);
			}
			return(b);
		}
		BEGIN { 
			RS="." ;
			bits=0;
		} {
			binary = d2b($0);
			onebits = gensub(/^(1+)0*$/,"\\1","g",binary);
			bits += length(onebits);
		}
		END {
			printf("%s/%d",ip,bits);
		}' <<< "$MASK"
}

_iface_complete() {
	ACTIONS="list up down detail"
	LISTOPTS="mac ip4 ip6"
	IFOPTS="$(ifconfig | awk 'BEGIN { FS=":" } /^[^ \t]+:.*$/ { if ($1 != "lo") { print $1 } }')"
	
	LASTCMD="${COMP_WORDS[$COMP_CWORD-1]}"
	
	_in_str $LISTOPTS <<< "$LASTCMD"
	ISLIST=$?
	
	_in_str $IFOPTS <<< "$LASTCMD"
	ISIFACE=$?
	
	if [ $ISLIST -eq 0 ] || [ $ISIFACE -eq 0 ]; then
		return 0
	else
		_in_str $ACTIONS <<< "$LASTCMD"
		if [ $? -eq 0 ]; then
			if [ "$LASTCMD" == "list" ]; then
				COMPREPLY=( $(compgen -W "$LISTOPTS" -- "${COMP_WORDS[$COMP_CWORD]}") )
				return 0
			else
				COMPREPLY=( $(compgen -W "$IFOPTS" -- "${COMP_WORDS[$COMP_CWORD]}") )
				return 0
			fi
		else
			COMPREPLY=( $(compgen -W "$ACTIONS" -- "${COMP_WORDS[$COMP_CWORD]}") )
			return 0
		fi
	fi
}

iface() {
	if [ -n "$1" ]; then
		IFLIST=($(ifconfig | awk 'BEGIN { FS=":" } /^[^ \t]+:.*$/ { if ($1 != "lo") { print $1 } }'))
		
		if [ "$1" == "list" ]; then
			if [ "$2" == "mac" ]; then
				awk 'BEGIN { FS=" " } { printf("%15-s\t%19-s\t%9-s\t%9-s\t%9-s\t%9-s\n",$1,$2,$3,$4,$5,$6); }' <<< "Name Mac RX_packet RX_bytes TX_packet TX_bytes"
				for idx in $(seq 0 $[ ${#IFLIST[@]} - 1 ]); do
					ifconfig ${IFLIST[$idx]} | awk -v ifname="${IFLIST[$idx]}" 'BEGIN {
						mac = "";
						rxpack = "";
						txpack = "";
						rxbyte = "";
						txbyte = "";
					}
					/^[ \t]+ether/ {
						mac = gensub(/^.*ether[ \t]+([^ \t]+)[ \t]+.*$/,"\\1","g",$0);
					}
					/^[ \t]+RX packets/ {
						rxpack = gensub(/^.*packets[ \t]+([0-9]]+)[ \t]+.*$/,"\\1","g",$0);
						rxbyte = gensub(/^.*bytes[ \t]+([0-9]+)[ \t]+.*$/,"\\1","g",$0);
					}
					/^[ \t]+TX packets/ {
						txpack = gensub(/^.*packets[ \t]+([0-9]+)[ \t]+.*$/,"\\1","g",$0);
						txbyte = gensub(/^.*bytes[ \t]+([0-9]+)[ \t]+.*$/,"\\1","g",$0);
					}
					END {
						printf("%15-s\t%19-s\t%9-d\t%9-d\t%9-d\t%9-d\n",ifname,mac,rxpack,rxbyte,txpack,txbyte);
					}'
				done
			elif [ "$2" == "ip4" ]; then
				awk 'BEGIN { FS=" " } { printf("%15-s\t%17-s\t%17-s\n",$1,$2,$3); }' <<< "Name IP Mask"
				for idx in $(seq 0 $[ ${#IFLIST[@]} - 1 ]); do
					ifconfig ${IFLIST[$idx]} | awk -v ifname="${IFLIST[$idx]}" 'BEGIN {
						ip = "";
						mask = "";
					}
					/^[ \t]+inet[ \t]+/ {
						ip = gensub(/^.*inet[ \t]+([^ \t]+)[ \t]+.*$/,"\\1","g",$0);
						mask = gensub(/^.*netmask[ \t]+([^ \t]+)[ \t]+.*$/,"\\1","g",$0);						
					}
					END {
						printf("%15-s\t%17-s\t%17-s\n",ifname,ip,mask);
					}'
				done
			elif [ "$2" == "ip6" ]; then
				awk 'BEGIN { FS=" " } { printf("%15-s\t%45-s\t%9-s\t%25-s\n",$1,$2,$3,$4); }' <<< "Name IP Prefix Scope"
				for idx in $(seq 0 $[ ${#IFLIST} - 1 ]); do
					ifconfig ${IFLIST[$idx]} | awk -v name="${IFLIST[$idx]}" 'BEGIN {
						ip6 = "";
						ip6pfx = "";
						ip6sc = "";
					}
					
					/^[ \t]+inet6/ {
						ip6 = gensub(/^.*inet6[ \t]+([^ \t]+)[ \t]+.*$/,"\\1","g",$0);
						ip6pfx = gensub(/^.*prefixlen[ \t]+([^ \t]+)[ \t]+.*$/,"\\1","g",$0);
						ip6sc = gensub(/^.*scopeid[ \t]+(.*)$/,"\\1","g",$0);
					}
					/^[ \t]+RX packets/ {
						rxpack = gensub(/^.*packets[ \t]+([0-9]]+)[ \t]+.*$/,"\\1","g",$0);
						rxbyte = gensub(/^.*bytes[ \t]+([0-9]+)[ \t]+.*$/,"\\1","g",$0);
					}
					/^[ \t]+TX packets/ {
						txpack = gensub(/^.*packets[ \t]+([0-9]+)[ \t]+.*$/,"\\1","g",$0);
						txbyte = gensub(/^.*bytes[ \t]+([0-9]+)[ \t]+.*$/,"\\1","g",$0);
					}
					END {
						printf("%15-s\t%45-s\t%9-s\t%25-s\n",name,ip6,ip6pfx,ip6sc);
					}'
				done
			else
				echo "Invalid argument ($2)"
			fi
		elif [ "$1" == "up" ] || [ "$1" == "down" ] || [ "$1" == "detail" ]; then
			if [ -n "$2" ]; then
				OP="$([[ "$1" == "detail" ]] && echo "" || echo "$1")"
				
				_in_str "${IFLIST[@]}" <<< "$2"
	
				if [ $? -eq 0 ]; then
					ifconfig $2 $OP
				else
					echo "Invalid interface ($2)"
				fi
			else
				echo "Must specify interface"
			fi
		else
			echo "Invalid command ($1)"
		fi
	else
			echo "usage: iface < list [mac | ipv4 | ipv6] | [up | down  detail ] [interface] >"
	fi
		
}

_connection_complete() {
	OPTIONS="list test"
	LISTOPT="tcp tcp6 udp udp6 multicast"
	TESTOPT="destaddr destport timeout"
		
	LASTCMD="${COMP_WORDS[$COMP_CWORD-1]}"
	LASTCMD2="${COMP_WORDS[$COMP_CWORD-2]}"
	
	_in_str $LISTOPT <<< "$LASTCMD"
	ISLIST=$?
	
	_in_str $TESTOPT <<< "$LASTCMD"
	ISTEST=$?
	
	_in_str $TESTOPT <<< "$LASTCMD2"
	ISTEST2=$?
	
	if [ $ISLIST -eq 0 ] || [ $ISTEST -eq 0 ]; then
		return 0
	elif [ $ISTEST2 -eq 0 ]; then
		COMPREPLY=( $(compgen -W "$TESTOPT" -- "${COMP_WORDS[$COMP_CWORD]}") )
		return 0
	else
		_in_str $OPTIONS <<< "$LASTCMD"
		if [ $? -eq 0 ]; then
			if [ "$LASTCMD" == "list" ]; then
				COMPREPLY=( $(compgen -W "$LISTOPT" -- "${COMP_WORDS[$COMP_CWORD]}") )
				return 0
			elif [ "$LASTCMD" == "test" ]; then
				COMPREPLY=( $(compgen -W "$TESTOPT" -- "${COMP_WORDS[$COMP_CWORD]}") )
				return 0
			else
				return 1
			fi
		else
			COMPREPLY=( $(compgen -W "$OPTIONS" -- "${COMP_WORDS[$COMP_CWORD]}") )
			return 0
		fi
	fi
}

connection() {
	if [ -n "$1" ]; then
		if [ "$1" == "list" ]; then
			if [ "$2" == "tcp" ]; then
				netstat -ant4 --inet
			elif [ "$2" == "tcp6" ]; then
				netstat -ant6 --inet6
			elif [ "$2" == "udp" ]; then
				netstat -anu --inet
			elif [ "$2" == "udp6" ]; then
				netstat -anu6 --inet6
			elif [ "$2" == "multicast" ]; then
				netstat -ang
			else
				netstat -an --inet --inet6
			fi
		elif [ "$1" == "test" ]; then
			DESTADDR=""
			DESTPORT=""
			CONNTIMEOUT="2"
			
			local idx=2
			
			while [ "$idx" -le "$#" ]; do
				if [ "${@:$idx:1}" == "destaddr" ]; then
					idx=$[ $idx + 1 ]
					DESTADDR="${@:$idx:1}"
					idx=$[ $idx + 1 ]
				elif [ "${@:$idx:1}" == "destport" ]; then
					idx=$[ $idx + 1 ]
					DESTPORT="${@:$idx:1}"
					idx=$[ $idx + 1 ]
				elif [ "${@:$idx:1}" == "timeout" ]; then
					idx=$[ $idx + 1 ]
					CONNTIMEOUT="${@:$idx:1}"
					idx=$[ $idx + 1 ]
				else
					continue
				fi
			done
				
			if [ -n "$DESTADDR" ] && [ -n "$DESTPORT" ]; then
					netcat -zn -w $CONNTIMEOUT $DESTADDR $DESTPORT
			else
				echo "Missing address and port"
			fi
		else
			echo "Must specify options"
		fi
	else
		echo "usage: connection < list [tcp | tcp6 | udp | udp6 | multicast] | test destaddr [ip-addr] destport [port] timeout [number] >"
	fi
}

_traffic_complete() {
	OPTIONS="capture"
	CAPTUREOPTS="file interface list"
		
	LASTCMD="${COMP_WORDS[$COMP_CWORD-1]}"
	LASTCMD2="${COMP_WORDS[$COMP_CWORD-2]}"
	
	_in_str $CAPTUREOPTS <<< "$LASTCMD"
	ISCAP=$?
	
	_in_str $CAPTUREOPTS <<< "$LASTCMD2"
	ISCAP2=$?
	
	if [ $ISCAP -eq 0 ]; then
		if [ "$LASTCMD" == "interface" ]; then
			IFLIST="$(ifconfig | awk 'BEGIN { FS=":" } /^[^ \t]+:.*$/ { if ($1 != "lo") { print $1 } }')"
				
			COMPREPLY=( $(compgen -W "$IFLIST" -- "${COMP_WORDS[$COMP_CWORD]}") )
			return 0
		else
			return 0
		fi
	elif [ $ISCAP2 -eq 0 ]; then
		COMPREPLY=( $(compgen -W "$CAPTUREOPTS" -- "${COMP_WORDS[$COMP_CWORD]}") )
		return 0
	else
		_in_str	$OPTIONS <<< "$LASTCMD"
		if [ $? -eq 0 ]; then
			if [ "$LASTCMD" == "capture" ]; then
				COMPREPLY=( $(compgen -W "$CAPTUREOPTS" -- "${COMP_WORDS[$COMP_CWORD]}") )
				return 0
			else
				return 1
			fi
		else
			COMPREPLY=( $(compgen -W "$OPTIONS" -- "${COMP_WORDS[$COMP_CWORD]}") )
			return 0
		fi
	fi
}

traffic() {
	if [ -n "$1" ]; then
		if [ "$1" == "capture" ]; then
			if [ "$2" == "list" ]; then
				CAPFILES="$(listdir *pcap 2>/dev/null)"
				
				if [ $? -eq 0 ]; then
					echo "$CAPFILES"
				else
					echo "No capture files found"
				fi
			else
				IFNAME=""
				OUTFILE=""
					
				while [ "$idx" -le "$#" ]; do
					if [ "${@:$idx:1}" == "interface" ]; then
						idx=$[ $idx + 1 ]
						IFNAME="${@:$idx:1}"
						idx=$[ $idx + 1 ]
					elif [ "${@:$idx:1}" == "file" ]; then
						idx=$[ $idx + 1 ]
						OUTFILE="${@:$idx:1}"
						idx=$[ $idx + 1 ]
					else
						continue
					fi
				done
				
				if [ -n "$IFNAME" ] && [ -n "$OUTFILE" ]; then
					if [ -f ./$OUTFILE.pcap ]; then
						echo "$OUTFILE already exists."
						
						while true; do
							read -n1 -s -p "[R]ename, [O]verwrite, or [C]ancel" nextop
								if [ $nextop =~ [Rr] ]; then
								read -p "New filename: " OUTFILE
								if [ -n "$OUTFILE" ]; then
									break
								fi
							elif [ $nextop =~ [Oo] ]; then
								break
							elif [ $nextop =~ [Cc] ]; then
								OUTFILE=""
								break
							fi
						done
					fi
					
					tcpdump -i $IFNAME -s 65535 -w $BASEDIR/$OUTFILE.pcap
				else
					echo "Must specify interface and output file"
				fi
			fi
		else
			echo "Invalid option ($1)"
		fi
	else
		echo "usage: traffic capture [ list | interface <ifname> file <filename> ]"
	fi
}

_traceroute_complete() {
	OPTIONS="hops addr"
	
	LASTCMD="${COMP_WORDS[$COMP_CWORD-1]}"
	
	_in_str $OPTIONS <<< "$LASTCMD"
	if [ $? -eq 0 ]; then
		return 0
	else
		COMPREPLY=( $(compgen -W "$OPTIONS" -- "${COMP_WORDS[$COMP_CWORD]}") )
		return 0
	fi
}

_lookup_complete() {
	OPTIONS="host type"
	
	LASTCMD="${COMP_WORDS[$COMP_CWORD-1]}"
	
	_in_str $OPTIONS <<< "$LASTCMD"
	if [ $? -eq 0 ]; then
		if [ "$LASTCMD" == "type" ]; then
			TYPELIST="A AAAA CNAME NS MX SOA TXT PTR SRV CERT DCHID DNAME"
			COMPREPLY=( $(compgen -W "$TYPELIST" -- "${COMP_WORDS[$COMP_CWORD]}") )
		fi
		return 0
	else
		COMPREPLY=( $(compgen -W "$OPTIONS" -- "${COMP_WORDS[$COMP_CWORD]}") )
		return 0
	fi
}

_file_complete() {
	OPTIONS="list delete tftp"
	
	LASTCMD="${COMP_WORDS[$COMP_CWORD-1]}"
	
	_in_str $OPTIONS <<< "$LASTCMD"
	if [ $? -eq 0 ]; then
		if [ "$LASTCMD" == "delete" ]; then
			COMPREPLY=( $(compgen -W "$(listdir)" -- "${COMP_WORDS[$COMP_CWORD]}") )
		elif [ "$LASTCMD" == "list" ]; then
			_in_str details <<< "$LASTCMD"
			if [ $? -ne 0 ]; then
				COMPREPLY=( $(compgen -W "details" -- "${COMP_WORDS[$COMP_CWORD]}") )
			fi
		fi
		return 0
	else
		COMPREPLY=( $(compgen -W "$OPTIONS" -- "${COMP_WORDS[$COMP_CWORD]}") )
		return 0
	fi
}


file() {
	if [ -n "$1" ]; then
		if [ "$1" == "list" ]; then
			if [ "$2" == "details" ]; then
				listdir -alF
			else
				listdir
			fi
		elif [ "$1" == "tftp" ]; then
			USEPORT="$[ RANDOM % 10000 ]"
			echo "TFTP listening on port $USEPORT"
			atftpd --daemon --port $USEPORT $BASEDIR
			read -n1 -p "Press any key to stop"
			kill -9 $(pidof atftpd)
		elif [ "$1" == "delete" ]; then
			shift
			rm $@
		else
			echo "Invalid command ($1)"
		fi
	else
		echo "usage:  file [ list | delete <filename> | tftp ]"
	fi
}

lookup() {
	ARGS="$@"
	LHOST=""
	TYPE=""
	
	while [ "$idx" -le "$#" ]; do
		if [ "${@:$idx:1}" == "host" ]; then
			idx=$[ $idx + 1 ]
			LHOST="${@:$idx:1}"
			idx=$[ $idx + 1 ]
		elif [ "${@:$idx:1}" == "type" ]; then
			idx=$[ $idx + 1 ]
			TYPE="${@:$idx:1}"
			idx=$[ $idx + 1 ]
		else
			continue
		fi
	done
	
	if [ -n "$LHOST" ] && [ -n "$TYPE" ]; then
		dig $HOST $TYPE | grep -v '^;\|^[ \t]*$'
	else
		echo "usage: lookup host <hostname> type <record-type>"
	fi
}

trace() {
	HOPS=""
	THOST=""
	
	local idx=1
			
	while [ "$idx" -le "$#" ]; do
		if [ "${@:$idx:1}" == "addr" ]; then
			idx=$[ $idx + 1 ]
			THOST="${@:$idx:1}"
			idx=$[ $idx + 1 ]
		elif [ "${@:$idx:1}" == "hops" ]; then
			idx=$[ $idx + 1 ]
			HOPS="${@:$idx:1}"
			idx=$[ $idx + 1 ]
		else
			continue
		fi
	done
	
	if [ -n "$THOST" ]; then
		traceroute -n $([[ -n "$HOPS" ]] && echo "-m $HOPS") $THOST | grep '^[ \t]\+[0-9]'
	else
		echo "usage: trace addr <hostname/IP> [hops <hop-count>]"
	fi
}

grep() {
	if [ -n "$1" ]; then
		/usr/bin/grep "$@"
	else
		echo "usage: contains <expression>"
	fi
}

count() {
	if [ -n "$1" ]; then
		grep "$@" | wc -l
	else
		echo "usage: count <expression>"
	fi
}

column() {
	if [ -n "$1" ]; then
		awk '{ print $'"$1"' }'
	else
		echo "usage: column <number>"
	fi
}

_build_net_mask() {
	(
		for i in $(seq 1 $1); do 
			printf "1"
		done
		
		z="$((32-$1))"
		
		for i in $(seq 1 $z); do
			printf "0"
		done
		
		echo ""
	) | sed 's/\([01]\{8\}\)/\1\n/g' | grep -v '^$' | while read line; do
		echo $((2#$line))
	done
}

_validate_ip() {
	if [ $1 -gt 0 ] && [ $1 -lt 256 ] && [ $2 -gt 0 ] && [ $2 -lt 256 ] && [ $3 -gt 0 ] && [ $3 -lt 256 ] && [ $4 -gt 0 ] && [ $4 -lt 256 ]; then
		echo "0"
	else
		echo "1"
	fi
}

calc() {
	if [ -n "$1" ]; then
		CIDR="$@"
		IP="$(sed 's/\/[0-9]\+//g' <<< "$CIDR")"
		MASK="$(sed 's/^.*\///g' <<< "$CIDR")"
		
		OCTETS="$(awk -F '.' '{print NF}' <<< "$IP")"
		
		if [ $MASK -gt 0 ] && [ $MASK -lt 33 ] && [ $OCTETS -eq 4 ]; then		
			IPAR=()
			IPAR[0]="$(awk 'BEGIN { FS="." } { print $1 }' <<< "$IP")"
			IPAR[1]="$(awk 'BEGIN { FS="." } { print $2 }' <<< "$IP")"
			IPAR[2]="$(awk 'BEGIN { FS="." } { print $3 }' <<< "$IP")"
			IPAR[3]="$(awk 'BEGIN { FS="." } { print $4 }' <<< "$IP")"
			
			if [ $(_validate_ip ${IPAR[@]}) -eq 1 ]; then
				echo "Invalid IP Address"
				return 1
			fi
		
			MASKAR=()
			
			for octet in $(_build_net_mask $MASK); do
				MASKAR+=($octet)
			done
			
			LOWADDR=()
			UPRADDR=()
			BRDADDR=()
			NETADDR=()
			
			for i in $(seq 0 3); do
				ADR=$(( ${MASKAR[$i]} & ${IPAR[$i]} ))
				
				if [ $ADR -eq 0 ]; then
					if [ $i -eq 3 ]; then
						UPRADDR+=("254")
						LOWADDR+=("1")
						BRDADDR+=("255")
						NETADDR+=("0")
					else
						UP=$(( ${MASKAR[$i]} ^ 255 ))
						UPRADDR+=($(($UP + $ADR)))
						LOWADDR+=($ADR)
						BRDADDR+=($(($UP + $ADR)))
						NETADDR+=($ADR)
					fi
				elif [ $ADR -eq 255 ]; then
					if [ $i -eq 3 ]; then
						UPRADDR+=("254")
						LOWADDR+=("254")
						BRDADDR+=("255")
						NETADDR+=($ADR)
					else
						UP=$(( ${MASKAR[$i]} ^ 255 ))
						UPRADDR+=($(($UP + $ADR)))
						LOWADDR+=($ADR)
						BRDADDR+=($(($UP + $ADR)))
						NETADDR+=($ADR)
					fi
				else
					UP=$(( ${MASKAR[$i]} ^ 255 ))
					UPRADDR+=($(($UP + $ADR)))
					LOWADDR+=($ADR)
					BRDADDR+=($(($UP + $ADR)))
					NETADDR+=($ADR)
				fi
			done
			
			printf "Network:            "
			echo "${NETADDR[@]}/$MASK" | sed 's/[ \t]\+/./g'
			
			printf "First IP:           "
			echo "${LOWADDR[@]}" | sed 's/[ \t]\+/./g'
			
			printf "Last IP:            "
			echo "${UPRADDR[@]}" | sed 's/[ \t]\+/./g'
			
			printf "Subnet Mask:        "
			echo "${MASKAR[@]}" | sed 's/[ \t]\+/./g'
			
			printf "Broadcast Address:  "
			echo "${BRDADDR[@]}" | sed 's/[ \t]\+/./g'
			
			printf "Host Count:         "
			bc <<< "(2^(32-$MASK))-2" | rev | sed 's/\([0-9]\{3\}\)/\1,/g;s/,$//g' | rev
		else
			echo "Invalid CIDR notation"
		fi
	else
		echo "calc <cidr-notation>"
	fi
}

complete -F _iptcli_complete nat
complete -F _iptcli_complete filter
complete -F _iptcli_complete mangle
complete -F _iptcli_complete raw
complete -F _iptcli_complete security

complete -F _iface_complete iface
complete -F _connection_complete connection
complete -F _traffic_complete traffic
complete -F _traceroute_complete trace
complete -F _lookup_complete lookup
complete -F _file_complete file
complete -W "" grep
complete -W "" count
complete -W "" ping
complete -W "" column
